*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Inter', sans-serif;
}
.title{
    color: #181818;
    font-size: 45px;
    font-weight: 700;

}
.nav-container, .banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#FFF8F3;;


}
.nav-list{
    display: flex;
    list-style: none;
    
}
.buttons{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
}
.spColor{
    color: #FD6E0A;
}
.btn{
    border-radius: 5px;
    background: #FD6E0A;
    padding: 10px;
    color: white;


}
.spbutton{
    margin-left: 0px;
}
.text-content{
    width: 500px;
    margin-left: 225px;
   
}
.herdy-pic{
    width: 584px;
    height: 676px;
    position: relative;
    top: 0px;
    bottom: 100px;
}
.Big-title{
    font-size: 85px;
    font-weight: 700;
}
.button-container{
    margin-top: 20px;
}
.banner-image{
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;

}