* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 1150px;
    margin: auto auto;
}

/* Shared styles */
.title {
    color: #181818;
    font-size: 45px;
    font-weight: 700;

}

.common-header-style {
    color: #181818;
    text-align: center;
    text-rendering: hidden;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 20px;
}

.discription {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8F3;
    padding-top: 20px;
}

h1.title {
    margin-right: 260px;
}

.nav-list {
    display: flex;
    list-style: none;

}

.buttons {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
}

.spColor {
    color: #FD6E0A;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 10px;
    color: white;

}

.spbutton {
    margin-left: 0px;
}

.text-content {
    width: 50%;
    margin-left: 150px;

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    background-image: url("/images/header_bg.png"),url("/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right,bottom left;
    height: 100vh;
}

.herdy-pic {
    width: 584px;
    height: 620px;
}

.Big-title {
    font-size: 85px;
    font-weight: 700;
}

.button-container {
    margin-top: 20px;
}

.banner-image {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.first-page {
    background-image: url("/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}

/* This is about me style  */
.aboutme {
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 60px;
    height: 430px;
    padding: 50px;

}

.info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info td,
th {
    padding: 18px;
}

/* This is skills section style  */
.SmallBox {
    width: 200px;
    height: 305px;
    padding: 18px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.containerBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.skills-grettings {
    margin-top: 5px;
    margin-bottom: 5px;
}
.skills-discription{
   text-align: center;
   margin-bottom: 50px;
} 
