* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 1140px;
}

.title {
    color: #181818;
    font-size: 45px;
    font-weight: 700;

}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8F3;
    padding-top: 20px;
}

h1.title {
    margin-right: 260px;
}

.nav-list {
    display: flex;
    list-style: none;

}

.buttons {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
}

.spColor {
    color: #FD6E0A;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 10px;
    color: white;

}

.spbutton {
    margin-left: 0px;
}

.text-content {
    width: 50%;
    margin-left: 150px;

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8F3;
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 100vh;
}

.herdy-pic {
    width: 584px;
    height: 620px;
}

.Big-title {
    font-size: 85px;
    font-weight: 700;
}

.button-container {
    margin-top: 20px;
}

.banner-image {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.first-page {
    background-image: url("/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}

/* This is about me style  */
.aboutme{
    display: block;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 80px;
    margin-left: 250px;
    height: 450px;
    padding: 50px;

}